@use 'Index';

.App {
  @extend %bg-img;

  h1 {
    margin: 0;
    padding-top: 35vh;
    padding-left: 10vw;
    font-size: 58px;
  }

  button {
    background-color: #40798C;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 11vw;
  }
}

.item-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  img {
    max-width: 400px;
    padding-top: 3vh;
    padding-left: 20vw;
  }

  button {
    display: block;
  }

  .item-description {
    grid-area: 2/1/2/3;
    padding: 0 20vw;
  }
}

.cart-item {
  display: flex;
}

.cart-item{
  * {
    border-top: solid 1px black;
    padding: 5px 10px;
  }

  .title {
    flex: 3 1 0;
  }

  span {
    flex: 1 1 0;
  }
}

.cart-summary {
  float: right;
  border: solid 1px black;
  width: 50%;
}

.sortby-container {
  float: right;
}

.product-tile {
  padding-left: 25vw;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 250px));
  gap: 10px;

  .product-tile-pic {
    width: 100%;
  }
}

.tile-item {
  display: flex;
  flex-direction: column;
}