@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

%bg-img {
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'PT Sans';
}

.bg-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;

  h1 {
    margin: 0;
    padding-top: 15vh;
    color: white;
    font-size: 32px;
  }
  form {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;

    input, textarea {
      background-color: rgba(255, 255, 255, 0.7);
      margin-top: 10px;
      width: 30vw;
    }

    textarea {
      height: 200px;
    }

    button {
      width: 25vw;
      align-self: center;
      margin-top: 10px;
      border: none;
      background-color: #D4A9A0;
    }
  }
}

@media (max-width: 700px) {
  .bg-overlay{
    form {
      input, textarea {
        width: 60vw;
      }
    }
  }
}

.error-pic {
  @extend %bg-img;
  text-align: center;

  h1 {
    margin: 0;
    padding-top: 20vh;
    font-size: 72px;
  }
  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.about-pic {
  @extend %bg-img;

  .header-bg{
    background-color: rgba(0, 0, 0, 0.4);
  }  

  .about-text-container {
    text-align: center;
  }

  h1 {
    padding: 5vh 0;
    font-size: 48px;
    margin: 0;
    color: white;
  }
  
  span {
    display: table;
    margin: 5vh auto;
    padding: 10vh 4vw;
    display: block;
    background-color: #D4A9A0;
    width: 50vw;
    border-radius: 20px
  }
}

@media (max-width: 480px) {
  .about-pic {
    span {
      padding: 5vh 4vw;
    }
  }
}

.contact-pic {
  @extend %bg-img;
}