@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

%bg-img {
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'PT Sans';
}

.bg-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;

  h1 {
    margin: 0;
    padding-top: 15vh;
    color: white;
    font-size: 32px;
  }
  form {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;

    input, textarea {
      background-color: rgba(255, 255, 255, 0.7);
      margin-top: 10px;
      width: 25vw;
    }

    textarea {
      height: 200px;
    }

    button {
      width: 25vw;
      align-self: center;
      margin-top: 10px;
      border: none;
      background-color: #D4A9A0;
    }
  }
}

.error-pic {
  @extend %bg-img;
  text-align: center;

  h1 {
    margin: 0;
    padding-top: 20vh;
    font-size: 72px;
  }
  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.about-pic {
  @extend %bg-img
}

.contact-pic {
  @extend %bg-img
}